.bubbleContainer {
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    background-color: rgb(0, 0, 0);
    /* align-items: center; */
    justify-content: center;
    display: flex;
}

.bubble {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    animation: float-up 4s linear forwards, fade-out 4s ease-in-out forwards;
}

.bubbleBtn {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: absolute;
    bottom: 0;
    font-size: 20px;
    z-index: 1;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    /* Removes gray tap highlight on Android/iOS */
    user-select: none;
    /* Prevents text highlight on accidental long press */
    touch-action: manipulation;
    /* Helps reduce delays on taps */
    padding: 10px;


}

.bubbleBtn:focus {
    outline: none;
    box-shadow: none;
}

.bubbleBtn:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in;
    opacity: 50%;
    /* font-weight: 700; */
}

.spanBtn {
    border-radius: 50%;
}

/* Floating Animation */
@keyframes float-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
    }
}

/* Fading Effect */
@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@media (max-width: 768px) {

    /* .bubbleContainer {


    } */
}