.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
    text-transform: capitalize;
    font-size: 2rem;
    color: #ffffff;

}

.sub_p:hover{
    color: #9c2323; 
    font-weight: 600;

}
.construction {
    color: #e8ff38;

}

@media only screen and (max-width: 600px) {
    body {}

    .hero {
        font-size: 1.4rem;
        width: 100vw;
        background-color: black;
    }


}