.hero {
    font-size: 2rem;
}

.sub_p:hover {
    color: #9c2323;
    font-weight: 600;
    /*   transform: scale(1.2);
    transition-duration: .5s; */
}

.construction {
    color: #e8ff38;
}

@media only screen and (max-width: 600px) {
    body {}

    .hero {
        font-size: 3rem;
        width: 100vw;
        background-color: black;
    }
}