.homeContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 1.5rem;
    background-color: rgb(2, 87, 130);
    /* background-color: rgb(74, 146, 187); */
    color: rgb(255, 247, 247);
    overflow-x: scroll;
}

.h2 {
    margin-bottom: 20px;
}

.hero-section {
    text-transform: capitalize;
    color: black;
    min-height: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.sub_p {
    color: yellow;
}

.hero,
.middlehero,
.bottomhero {
    /* height: 100%; */
    text-align: center;
    align-items: center;
    align-self: center;
    width: 80%;
    margin: 10px;
}
.hero-text {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: #e4e4e4;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 50vw;
    background-color: red;
}

@media (max-width: 768px) {
    .hero-section {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        min-height: auto;
    }

    .hero-text {
        width: 90%;
    }

    .hello {
        font-size: 1.4rem;
    }
}