.homeContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 1.5rem;
}

.h2 {
    margin-bottom: 20px;
}

.hero-section {
    text-transform: capitalize;
    color: black;
    min-height: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.sub_p {
    color: yellow;
}

.hero,
.middlehero,
.bottomhero {
    height: 100%;
    text-align: center;
    align-items: center;
    align-self: center;
    width: 80%;
    margin: 10px;
}

/* Updated from `.hero` to `.hero-section` */
/* The CSS code you provided is styling three different sections of a webpage. */
/* .hero {
    background-color: rgb(255, 188, 44);
}

.middlehero {
    background-color: blue;
}

.bottomhero {
    background-color: green;
} */

/* Updated from `.p` to `.hero-text` */
.hero-text {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: #e4e4e4;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 50vw;
    background-color: red;
}

@media (max-width: 768px) {
    .hero-section {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        min-height: auto;
    }

    .hero-text {
        width: 90%;
    }

    .hello {
        font-size: 1.4rem;
    }
}