.navbar {
    transition: all 0.8s ease-in-out;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid rgb(34, 34, 34) 2px;
    font-size: 1.5em;
    font-weight: 700;
    /* background-color: wheat; */
    background-color: rgba(85, 47, 255, 0.953);
}

.button {
    /* background-color: white; */
    color: black;
}

.ul {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0;
    margin: 0;
    color: black;
}

.li {
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.navbar_a:hover {
    color: rgb(255, 210, 64);
}