.todoContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.todo-header {
    color: #ffc23e;
    font-size: 36px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 10px;
    list-style-type: none;
}

.todo {
    width: 600px;
    max-width: 90%;
    height: 70%;
    margin-top: 0;
    padding: 0 44px 30px;
    border-radius: 20px;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
}

.todo-list {
    width: 100%;
    max-height: 200px;
    height: 200px;
    list-style-type: decimal;
    list-style-position: inside;
    color: #ffc23e;
    overflow-x: scroll;
    text-align: left;
    width: 500px;

}

.todo-list-item {
    margin: 0.4rem 0;
    text-indent: 10px;
    font-size: 1.4em;
    line-height: 1.5;
    text-transform: capitalize;

}

.todo-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

}

.todo-input {
    width: 476px;
    height: 80px;
    padding-left: 35px;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #edeef0;
    font-size: 20px;
    color: black;
}

.todo-add-btn {
    height: 80px;
    border-radius: 50px;
    background-color: #ff6739;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    position: static;
}

.todo-add-btn:hover,
.todo-add-btn:focus {
    background-color: #e75a30;
    outline: none;
}

.empty-state {
    list-style: none;
    font-size: 2em;
    color: #ffc23e;
    text-align: center;
    padding: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .todoContainer {
        width: 100%;
        height: 100vh;
        background: linear-gradient(to top right, rgb(39, 120, 78), rgb(17, 25, 47));
    }

    .todo-header {
        width: 100vw;
        text-align: center;
    }

    .todo {
        width: 90%;
        padding: 20px;
    }

    .todo-list {
        height: 50%;
        width: 90vw;
        padding-left: 20px;
    }

    .todo-input {
        width: 100%;
        font-size: 18px;
    }

    .todo-add-btn {
        width: 120px;
        font-size: 20px;
    }

    .todo-add {
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 20px 10px;
    }
}