.todoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.todo-header {
    color: #ffc23e;
    font-size: 36px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 10px;
    list-style-type: none;
}

.todo {
    width: 600px;
    max-width: 90%;
    height: 70%;
    margin-top: 0px;
    padding: 0px 44px 30px;
    border-radius: 20px;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
}

/* ol list  */
.todoList {
    white-space: inherit;
    overflow: scroll;
    width: 100%;
    display: inline-block;

    padding-left: 20px;
    /* optional: controls indentation */
    text-align: left;
}

/* li in list */
.todo-list-item {
    /* margin: 10px 0; */
    width: 100%;
    list-style-type: decimal;
    /* ensures numbers show */
    list-style-position: outside;
    font-size: 1.4em;
    /* keeps number aligned with text */
    padding: 5px;
    color: #ffc23e;
    line-height: 1.5;
    left: 0;
    position: relative;
    justify-content: space-between;
    text-align: left;
    text-transform: capitalize;

}

.todo-add {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 45px; */
    margin: 10px;
}

.todo-input {
    width: 476px;
    height: 80px;
    padding-left: 35px;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #edeef0;
    font-size: 20px;
    color: black;
}

.todo-add-btn {
    width: 187px;
    height: 80px;
    margin-left: -100px;
    border-radius: 50px;
    background-color: #ff6739;
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todo-add-btn:hover {
    background-color: #e15a2e;
}

.empty-state {
    list-style: none;
    font-size: 2em;
    color: #ffc23e;
}

.move {
    background-color: red;
}